@model EducationPartal.CoreMVC.ModelsView.MaterialViewModel

@{
    ViewData["Title"] = "AddMaterialToCourse";
}

<h3>@ViewData["Message"]</h3>

<div>
    <a asp-action="Index">Back to List</a>
</div>
