@model EducationPartal.CoreMVC.ModelsView.VideoViewModel

@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
<h3>Material with this name exist!</h3>
<div>
    <a asp-action="Index">Back to list materials</a>
</div>
