@model EducationPartal.CoreMVC.ModelsView.ArticleViewModel

<div class="alert alert-secondary">
    <h3>
        <strong>Name: @Html.DisplayFor(m => m.Name)</strong></br>
        <strong>Type: Article</strong>
    </h3>
    <span class="lead">Publication date: @Html.DisplayFor(m => m.PublicationDate)</br></span>
    <span class="lead">Site: @Html.DisplayFor(m => m.Site)</br></span>
    <a class="btn btn-default" asp-action="DeleteMaterialFromCourse" asp-controller="Material" asp-route-id="@Model.Id">Delete article from course</a>
</div>